{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Assignments{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'educationPortal/styles.css' %}" rel="stylesheet">
    <link href="{% static 'educationPortal/ClassView.css' %}" rel="stylesheet">
    <link href="{% static 'educationPortal/conversations.css' %}" rel="stylesheet">
    <link href="{% static 'educationPortal/assignments.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/869e8d43b7.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="mainHeader">
        <div style="display: flex; align-items: center;">
            <div id="menuBars">
                <i class="fas fa-bars menuBars"></i>
            </div>
            <img src="{% static 'educationPortal/Icons/Logo.svg' %}" style="height: 7vh; margin-right: 20px; color: orange; margin-left: 20px;"
                class="logo" >
            <h4 class="title">E-Learning Portal</h4>
        </div>
        <div class="headerItems">
    
            <button class="profileButton" onclick="profilePopUp()">
                {% if user.profile_pic %}
                <img src="{{user.profile_pic.url}}" width="40px" height="40px" style="border-radius: 50%;">
                {% else %}
                <img src="/images/blankUserIcon.svg" width="40px" height="40px" style="border-radius: 50%;">
                {% endif %}
                <p class="profileButtonText">{{user.first_name}}</p>
            </button>
            <div class="profilePopUp" id="profilePopUp">
    
                {% if user.profile_pic %}
                <img src="{{user.profile_pic.url}}" class="profilePic">
                {% else %}
                <img src="/images/blankUserIcon.svg" class="profilePic">
                {% endif %}
    
                <button onclick="editPic()" class="editButton">
                    <i class="fas fa-edit" style="margin-left: 2px; margin-bottom: 1px;"></i>
                </button>
    
                <form class="editProfile" id="imageEdit" hidden action="{% url 'editProfileImage' %}" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit" class="submitBtn">
                    </div>
    
                </form>
    
    
                <h5 style="font-weight: 400; padding-top: 20px;">{{user.first_name}} {{user.last_name}}</h5>
    
    
                {% if user.is_authenticated %}
    
                <a class="nav-link" href="{% url 'logout' %}">
                    <button class="logOutButton">Log Out</button>
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
    
            </div>
    
        </div>
    </header>

    <div class="sideMenu" id="sideMenu">
    
        {% if user.profile_pic %}
        <img src="{{user.profile_pic.url}}" class="profilePic" width="120px" height="120px"
            style="margin: 20px; margin-bottom: 5px;">
        {% else %}
        <img src="/images/blankUserIcon.svg" class="profilePic" width="120px" height="120px"
            style="margin: 20px; margin-bottom: 5px;">
        {% endif %}
    
        <h4 style="color: white; margin-bottom: 20px;">{{user.first_name}} {{user.last_name}}</h4>
    
        <a href="{% url 'index' %}" class="sideMenuLink" style="border-top: 1px solid rgb(70, 86, 189)">
            <button>Home</button>
        </a>
        <a href="{% url 'ViewClassroom' class.code %}" class="sideMenuLink">
            <button>Announcements</button>
        </a>
        <a href="{% url 'assignments' class.code %}" class="sideMenuLink">
            <button> Assignments </button>
        </a>
        <a href="{% url 'quizzes' class.code %}" class="sideMenuLink">
            <button> Quizzes </button>
        </a>
        <a href="{% url 'conversations'%}" class="sideMenuLink">
            <button> Conversations </button>
        </a>
    </div>
    <div class="mainColumnAssignments">
        <div style='display: flex; width: 100%;'>
            <h3 style="padding-top: 30px; padding-left: 30px; padding-bottom: 20px;color:rgb(68, 68, 68)">Assignments</h3>
        </div>
        <div class="assignmentsColumn">
            {% if user == class.teacher %}
                <button class="createAssignmentButton" onclick="newAssignmentModal(); setDate(`{{date | date:'Y-m-d_H:i'}}`)">
                    <i class="fas fa-plus" style="transform: scale(1.3); padding: 10px; color: white;"></i>
                    <label style="color: white; padding-top: 8px; padding-left: 10px; padding-right: 10px;">Create</label>
                </button>
            {% endif %}
            <br> 
            {% if assignments.count <= 0 %}
                <p>No assignments yet </p>
            {% endif %}
            {% for a in assignments%}
                <a style="width: 100%; text-decoration: none; color: rgb(71, 71, 71); font-weight: 400;" href="{% url 'viewAssignment' class.code a.id %}">
                    <div class="assignmentItem">
                        <i class="far fa-file-alt {{class.theme}}"
                            style="color: white; font-size: x-large; align-self: center; height: 40px; width: 40px; padding-top: 8px; padding-left: 11px; border-radius: 50%;"></i>
                        <p style="padding-top: 15px; padding-left: 15px;">{{a.title}}</p>
                    </div>
                </a>
                
            {% endfor %}
        </div>
    </div>

    
    <div class="greyBackground">
        <div class="newAssignmentModal">
            <div class='container'>
                <div class="row modalHead">
                    <button class="closeModalButton" onclick="newAssignmentModal();">
                        <img src="{% static 'educationPortal/Icons/x.svg' %}">
                    </button>
                </div>
                <p style="justify-self: flex-start; color: rgb(91, 91, 91); font-size: larger; font-weight: 500; margin-bottom: 0px; padding-bottom: 0px;">Assignment</p>
            </div>
            {% if user.userType == "Teacher" %}
                <form style="display: flex; height: 80%; padding: 20px;" id="assignmentForm" action="{% url 'createAssignment' class.code %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="assignmentTitleDescription">
                        <input type="text" name="title" class="assignmentTitle" placeholder="Title" autocomplete="off">
                        <label style="font-weight: 400; color: rgb(78, 78, 78); margin-top: 20px;">Instructions:</label>
                        <div id="textDiv" contenteditable="true" style="height: 40vh; font-size: small; border: none; background: rgb(247, 247, 247); border-radius: 3px;"></div>
                        <textarea hidden id="instructionsInput" name="instructions"></textarea>
                        <ul class="tool-list">
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="bold"
                                    class="tool--btn"
                                    >
                                    <i class=' fas fa-bold'></i>
                                </button>
                            </li>
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="italic"
                                    class="tool--btn">
                                    <i class=' fas fa-italic'></i>
                                </button>
                            </li>
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="underline"
                                    class="tool--btn">
                                    <i class=' fas fa-underline'></i>
                                </button>
                            </li>
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="insertOrderedList"
                                    class="tool--btn">
                                    <i class=' fas fa-list-ol'></i>
                                </button>
                            </li>
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="insertUnorderedList"
                                    class="tool--btn">
                                    <i class=' fas fa-list-ul'></i>
                                </button>
                            </li>
                            <li class="tool">
                                <button
                                    type="button"
                                    data-command="createlink"
                                    class="tool--btn">
                                    <i class=' fas fa-link'></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div style="padding-left: 15px;" class="assignmentFilesDueDate">
                        
                        <label for="files" class="custom-file-upload" hidden>
                            <div style="display: flex; padding: 10px; border-radius: 3px ;padding-left: 15px; padding-right: 15px; border: 0.5px solid lightgray;">
                                <i class="fas fa-file" style="color: gray; font-size: x-large;"></i>
                                <p style="color: gray; padding-bottom: 0; margin-bottom: 0; padding-left: 5px;">Add Files</p>
                            </div>
                        </label>
                        <input type="file" id="files" name="files" multiple hidden onchange="displayFiles()">
                        <ul id="fileList">
                            
                        </ul>

                        <label style="font-weight: 400; color: rgb(78, 78, 78); margin-top: 20px;">Due Date:</label>
                        <input type="datetime-local" style="border: 0.5px solid lightgrey; outline: none; border-radius: 3px; padding: 5px; color: gray" id="assignmentDueDate" name="assignmentDueDate">
                    
                        <input type="submit" value="Create" class="submitBtn" hidden>
                    </div>
                    
                </form>
            {% endif %}
    
            
    
        </div>
    </div>

    
    
    <script src="{% static 'educationPortal/Classroom.js' %}"></script>
    <script src="{% static 'educationPortal/index.js' %}"></script>
    <script src="{% static 'educationPortal/assignments.js' %}"></script>

</body>
</html>