{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}educationPortal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'educationPortal/styles.css' %}" rel="stylesheet">
    <link href="{% static 'educationPortal/ClassView.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/869e8d43b7.js" crossorigin="anonymous"></script>

</head>

<body>

    <header class="mainHeader">
        <div style="display: flex; align-items: center;">
            <div id="menuBars">
                <i class="fas fa-bars menuBars"></i>
            </div>
                        <img src="{% static 'educationPortal/Icons/Logo.svg' %}" style="height: 7vh; margin-right: 20px; color: orange; margin-left: 20px;"
                            class="logo">

            <h4 class="title">E-Learning Portal</h4>
        </div>
        <div class="headerItems">
            
            <button class="profileButton" onclick="profilePopUp()">
                {% if user.profile_pic %}
                    <img src="{{user.profile_pic.url}}" width="40px" height="40px" style="border-radius: 50%;">
                {% else %}
                    <img src="/images/blankUserIcon.svg" width="40px" height="40px" style="border-radius: 50%;">
                {% endif %}
                <p class="profileButtonText">{{user.first_name}}</p>
            </button>
            <div class="profilePopUp" id="profilePopUp">
            
                {% if user.profile_pic %}
                <img src="{{user.profile_pic.url}}" class="profilePic">
                {% else %}
                <img src="/images/blankUserIcon.svg" class="profilePic">
                {% endif %}
            
                <button onclick="editPic()" class="editButton">
                    <i class="fas fa-edit" style="margin-left: 2px; margin-bottom: 1px;"></i>
                </button>
            
                <form class="editProfile" id="imageEdit" hidden action="{% url 'editProfileImage' %}" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="display: flex; flex-direction: column; align-items: flex-start;">
                        <input type="file" id="img" name="img" accept="image/*">
                        <input type="submit" class="submitBtn">
                    </div>
            
                </form>
            
            
                <h5 style="font-weight: 400; padding-top: 20px;">{{user.first_name}} {{user.last_name}}</h5>
            
            
                {% if user.is_authenticated %}
            
                <a class="nav-link" href="{% url 'logout' %}">
                    <button class="logOutButton">Log Out</button>
                </a>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            
            </div>
    
        </div>
    </header>
    
    <div class="sideMenu" id="sideMenu">

        {% if user.profile_pic %}
            <img src="{{user.profile_pic.url}}" class="profilePic" width="120px" height="120px" style="margin: 20px; margin-bottom: 5px;">
        {% else %}
            <img src="/images/blankUserIcon.svg" class="profilePic" width="120px" height="120px" style="margin: 20px; margin-bottom: 5px;"> 
        {% endif %}

        <h4 style="color: white; margin-bottom: 20px;">{{user.first_name}} {{user.last_name}}</h4>

        <a href="{% url 'index' %}" class="sideMenuLink" style="border-top: 1px solid rgb(70, 86, 189)">
            <button>Home</button>
        </a>
        <a href="{% url 'ViewClassroom' class.code %}" class="sideMenuLink">
            <button>Announcements</button>
        </a>
        <a href="{% url 'assignments' class.code %}" class="sideMenuLink">
            <button> Assignments </button>
        </a>
        <a href="{% url 'quizzes' class.code %}" class="sideMenuLink">
            <button> Quizzes </button>
        </a>
        <a href="{% url 'conversations'%}" class="sideMenuLink">
            <button> Conversations </button>
        </a>
    </div>
    
    <br>
    <br>
    <br>

    <div class="MainColumn">
        <div class="ClassCentralDiv {{class.theme}}">
            <h1 class="className" style="padding-bottom: 0px;">{{class.name}}</h1>
            <h5 class="className" style="padding-top:0; padding-bottom: 20px;">{{class.subject}}</h5>
            <p style="padding-left: 15px; color: white; font-weight: 400;"><b style="font-weight: 600;">Class Code:</b> {{class.code}}</p>
        </div>

        <div class="Announcements">
            <button class="addAnnouncement {{class.theme}}" onclick="showAnnouncementMaker()">
                
                <i class="fas fa-plus" style="margin-left: 5px;"></i>
                <label style="font-size: smaller; padding-left: 10px; padding-top: 5px; padding-right: 10px; cursor: pointer;">Announcement</label>
            </button>
            <div class="makeAnnouncement">
                <h4 style="font-weight: 400; color: rgb(78, 78, 78);">Make an Announcement</h4>
                <div id="textDiv" contenteditable="true"></div>
                <ul class="tool-list">
                    <li class="tool">
                        <button
                            type="button"
                            data-command="bold"
                            class="tool--btn">
                            <i class=' fas fa-bold'></i>
                        </button>
                    </li>
                    <li class="tool">
                        <button
                            type="button"
                            data-command="italic"
                            class="tool--btn">
                            <i class=' fas fa-italic'></i>
                        </button>
                    </li>
                    <li class="tool">
                        <button
                            type="button"
                            data-command="underline"
                            class="tool--btn">
                            <i class=' fas fa-underline'></i>
                        </button>
                    </li>
                    <li class="tool">
                        <button
                            type="button"
                            data-command="insertOrderedList"
                            class="tool--btn">
                            <i class=' fas fa-list-ol'></i>
                        </button>
                    </li>
                    <li class="tool">
                        <button
                            type="button"
                            data-command="insertUnorderedList"
                            class="tool--btn">
                            <i class=' fas fa-list-ul'></i>
                        </button>
                    </li>
                    <li class="tool">
                        <button
                            type="button"
                            data-command="createlink"
                            class="tool--btn">
                            <i class=' fas fa-link'></i>
                        </button>
                    </li>
                </ul>
                <button class="postAnnouncementButton" onclick="postAnnouncement('{{class.code}}')">Post</button>
            </div>    

            {% for announcement in announcements %}
                <div class="announcementCard">

                    
                    <div style="display: flex; align-items: center; padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">
                        <div>
                            {% if announcement.creator.profile_pic %}
                            <img src="{{announcement.creator.profile_pic.url}}" class="announcementProfilePic">
                            {% else %}
                            <img src="/images/blankUserIcon.svg" class="announcementProfilePic">
                            {% endif %}
                        </div>
                        <div>
                            <p style="font-weight: 600; font-size: larger; padding-top: 10px; padding-left: 10px;">
                                {{announcement.creator.first_name}} {{announcement.creator.last_name}}</p>
                            <p style="font-size: small; font-weight: 300; color: rgb(96, 96, 96); padding-left: 10px; margin-top: -10px;">
                                {{announcement.date}}</p>
                        </div>
                    </div>

                    <div style="font-size: small; padding-left: 20px; padding-top: 10px;">
                        {{announcement.body | safe}}
                    </div>
                    <br>

                    <hr style="width: 100%;">

                    <button class="viewCommentButton" style="margin-left: 20px;" onclick="viewComments('comments:{{announcement.id}}')">
                        <i class="far fa-comment-alt"> </i>
                        Class Comments ({{announcement.comments.all.count}})
                    </button>

                    <ul style="list-style: none; padding: none; padding-top:20px;" hidden id="comments:{{announcement.id}}">
                        {% for comment in announcement.comments.all %}
                        <li style="padding: 5px;">
                            <div style="display: flex;">

                                <div>
                                    {% if comment.commenter.profile_pic %}
                                        <img src="{{comment.commenter.profile_pic.url}}" class="commentProfilePic">
                                    {% else %}
                                        <img src="/images/blankUserIcon.svg" class="commentProfilePic">
                                    {% endif %}
                                </div>
                                
                                <div style="padding-top: 2px; padding-left: 10px;">
                                    {% if class.teacher == comment.commenter %}
                                        <label style="font-weight: 600; color: white; padding-left: 5px; padding-right: 5px; border-radius: 5px;" class="{{class.theme}}">{{comment.commenter.first_name}} {{comment.commenter.last_name}}</label>
                                    {% else %}
                                        <label style="font-weight: 600;">{{comment.commenter.first_name}} {{comment.commenter.last_name}}</label>
                                    {% endif %}
                                    <label style="font-weight: 300; font-size: small; padding-left: 10px; color: gray;">{{comment.date}}</label>
                                    <p style="margin-top: -5px; font-size: smaller;">{{comment.text}}</p>
                                </div>
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>

                    <hr style="width: 100%;">
                    <div style="display: flex; align-items: center; padding-left: 20px; padding-bottom: 20px; padding-right: 20px;">
                        <input type="text" placeholder="Add a class comment" class="classCommentInput" id="comment:{{announcement.id}}">
                        <button class="commentPostButton" id="post:{{announcement.id}}" onclick="postComment(id, `${document.getElementById('comment:'+'{{announcement.id}}').value}`)"><i class="far fa-paper-plane"></i></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'educationPortal/Classroom.js' %}"></script>
    <script src="{% static 'educationPortal/index.js' %}"></script>

</body>

</html>